body{
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: roboto-r;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    
}

#inscreva-se-btn{
    border: 2px solid rgb(160, 67, 214);
    padding: 10px;
    border-radius: 15px;
    width: 50%;
}

#inscreva-se-btn:hover{
    background-color: rgb(160, 67, 214);
    color: white;
}

a{
    color: white;
    text-decoration:none
}

a:hover{
    color:  rgb(160, 67, 214);
    transition: 0.3s all;
}

aside{
    margin-right: 1rem;
}

article{
    margin-left: 1rem;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: roboto-b;
}

span{
    color: rgb(179, 85, 233)
}


p{
    line-height: 20px;
    max-width: 500px;
    font-family: nexa-light;
}

img{
    width: 580px;
    border-radius: 5rem;

}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(160, 67, 214);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}



input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}